<div class="row">
    <table class="table">
        <tr style="border-bottom: 1px solid grey;">
            <th style="width: 30%;">USERNAME</th>
            <th style="width: 40%;">ACTIVE ROLES</th>
            <th style="width: 30%;"></th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-outline-info">Edit Roles</button></td>
        </tr>
    </table>
</div>